ErrorDocument 400 http://gncrecord-online.42web.io/404.html
ErrorDocument 401 http://gncrecord-online.42web.io/404.html
ErrorDocument 403 http://gncrecord-online.42web.io/404.html
ErrorDocument 404 http://gncrecord-online.42web.io/404.html
ErrorDocument 503 http://gncrecord-online.42web.io/404.html
